In [59]:
import pandas as pd
from datetime import datetime, timedelta
import shutil
from os import remove, mkdir

In [112]:
#Importação das tabelas:
ano_bissexto = ['2000', '2004', '2008', '2012', '2016', '2020']
anos = ['1997','1998','1999','2000','2001','2002','2003','2004','2005','2006',
        '2007','2008','2009','2010','2011','2012','2013','2014','2015','2016',
        '2017','2018','2019','2020','2021','2022']

#Entrada:
colunas = ['Dia', 'Hora','HBV','15 min','01 h','04 h','24 h','96 h']
pasta = input('Digite a Estação: ')

#Listas finais
Fev31_15min = []
FevNorm_15min = []

Fev31N_15min = []
FevNormN_15min = []

#Diretórios:
diretorio = r'D:\Estudo\Oficina de Pesquisa\teste'
diretorio_tratado = r'D:/Estudo/Oficina de Pesquisa/Dados Tradados'


for ano in anos:
    print(ano)
    #Tratando as entradas:
    tamanho = pasta.split()
    if len(tamanho) != 1:
        arquivo = ('_'.join(tamanho)).lower()
    else:
        arquivo = pasta.lower()
    
    #arquivo ='av_brasil_mendanha'
        
    
    mes_fev = pd.read_fwf(diretorio+'\\'+arquivo+'_'+ano+'02_Plv.txt',
                          colspecs = [(0,10),(12,20),(22,25),(28,34),(35,41),(42,48),(49,55),(56,62)],
                          infer_datetime_format=True, enconding='iso-8850-1',
                          names = colunas)
    mes_mar = pd.read_fwf(diretorio+'\\'+arquivo+'_'+ano+'03_Plv.txt',
                          colspecs = [(0,10),(12,20),(22,25),(28,34),(35,41),(42,48),(49,55),(56,62)],
                          infer_datetime_format=True, enconding='iso-8850-1',
                          names = colunas)
    
    #Concatenando as Tabelas:
    mes_concat = pd.concat([mes_fev, mes_mar], ignore_index = False)

    
    #Condição:
    if ano in ano_bissexto:
        print('É bissexto:')
        #meses[['Dia']] = meses[['Dia']].apply(pd.to_datetime)
        mes_concat['Dia'] = pd.to_datetime(mes_concat['Dia'], dayfirst= True, infer_datetime_format=True)
        meses_id = mes_concat.set_index('Dia')
        fev31 = meses_id.loc[: ano+"-03-02"]
        fevNormal = meses_id.loc[: ano+"-02-29"]
    else:
        print('Não é bissexto')
        #meses[['Dia']] = meses[['Dia']].apply(pd.to_datetime)
        mes_concat['Dia'] = pd.to_datetime(mes_concat['Dia'], dayfirst= True, infer_datetime_format=True)
        meses_id = mes_concat.set_index('Dia')
        fev31 = meses_id.loc[: ano+"-03-03"]
        fevNormal = meses_id.loc[: ano+"-02-28"]
    
    fev31 = fev31.reset_index()
    fevNormal = fevNormal.reset_index()
    
    #Fevi31
    fev31[fev31['15 min'] == 'ND'] = 0 
    fev31[['15 min']] = fev31[['15 min']].apply(pd.to_numeric)
    soma = fev31['15 min'].sum()
    norm = soma/31
    Fev31_15min.append(soma)
    Fev31N_15min.append(norm)
    

    #FevNormal
    fevNormal[fevNormal['15 min'] == 'ND'] = 0 
    fevNormal[['15 min']] = fevNormal[['15 min']].apply(pd.to_numeric)
    soma = fevNormal['15 min'].sum()
    FevNorm_15min.append(soma)
    if ano in ano_bissexto:
        norm =  soma/29
        FevNormN_15min.append(norm)
    else:
        norm = soma/28
        FevNormN_15min.append(norm)
        
    #Exportando DataFrame em csv:
    lista_de_tuplas = list(zip(anos,Fev31_15min,FevNorm_15min,Fev31N_15min, FevNormN_15min))
    df = pd.DataFrame(lista_de_tuplas, columns=['Anos','Fev31','FevNatural','Fev31N','FevNaturalN'])
    df.to_csv(diretorio+'\\'+arquivo+'_FinalN.csv', index = False)
df

Digite a Estação: as
1997
Não é bissexto
1998
Não é bissexto
1999
Não é bissexto
2000
É bissexto:
2001
Não é bissexto
2002
Não é bissexto
2003
Não é bissexto
2004
É bissexto:
2005
Não é bissexto
2006
Não é bissexto
2007
Não é bissexto
2008
É bissexto:
2009
Não é bissexto
2010
Não é bissexto
2011
Não é bissexto
2012
É bissexto:
2013
Não é bissexto
2014
Não é bissexto
2015
Não é bissexto
2016
É bissexto:
2017
Não é bissexto
2018
Não é bissexto
2019
Não é bissexto
2020
É bissexto:
2021
Não é bissexto
2022
Não é bissexto

    Anos  Fev31  FevNatural     Fev31N  FevNaturalN
0   1997    0.0         0.0   0.000000     0.000000
1   1998    0.0         0.0   0.000000     0.000000
2   1999    0.0         0.0   0.000000     0.000000
3   2000    0.0         0.0   0.000000     0.000000
4   2001    0.0         0.0   0.000000     0.000000
5   2002    0.0         0.0   0.000000     0.000000
6   2003    0.0         0.0   0.000000     0.000000
7   2004    0.0         0.0   0.000000     0.000000
8   2005    0.0         0.0   0.000000     0.000000
9   2006    0.0         0.0   0.000000     0.000000
10  2007    0.0         0.0   0.000000     0.000000
11  2008    0.0         0.0   0.000000     0.000000
12  2009    0.0         0.0   0.000000     0.000000
13  2010    0.0         0.0   0.000000     0.000000
14  2011   95.2        71.0   3.070968     2.535714
15  2012   49.8        49.8   1.606452     1.717241
16  2013  121.8       109.4   3.929032     3.907143
17  2014   51.8        40.0   1.670968     1.428571
18  2015  116.8       116.8   3.767742     4.171429
19  2016  172.4       161.6   5.561290     5.572414
20  2017   60.8        31.2   1.961290     1.114286
21  2018  141.4       139.6   4.561290     4.985714
22  2019  288.6       202.6   9.309677     7.235714
23  2020  357.4       267.6  11.529032     9.227586
24  2021  141.0       141.0   4.548387     5.035714
25  2022  114.8       114.8   3.703226     4.100000

In [93]:
df.mean()

Anos           7.681538e+101
Fev31           1.250231e+02
FevNatural      1.081731e+02
Fev31N          4.033002e+00
FevNaturalN     3.822243e+00
dtype: float64

In [63]:
df1= df.set_index('Anos').sort_index()
df1 = df1.loc['2014':'2022']

In [64]:
df1

      Fev31  FevNatural     Fev31N  FevNaturalN
Anos
2014   64.4        64.2   2.077419     2.292857
2015  119.8       119.8   3.864516     4.278571
2016  137.6       128.0   4.438710     4.413793
2017   19.4        15.6   0.625806     0.557143
2018  119.2       117.8   3.845161     4.207143
2019  284.6       220.4   9.180645     7.871429
2020  339.6       272.0  10.954839     9.379310
2021  137.4       137.4   4.432258     4.907143
2022  166.6       166.6   5.374194     5.950000

In [65]:
df1.mean()

Fev31          154.288889
FevNatural     137.977778
Fev31N           4.977061
FevNaturalN      4.873043
dtype: float64

In [66]:
df1 = df1.reset_index()

In [67]:
df1

   Anos  Fev31  FevNatural     Fev31N  FevNaturalN
0  2014   64.4        64.2   2.077419     2.292857
1  2015  119.8       119.8   3.864516     4.278571
2  2016  137.6       128.0   4.438710     4.413793
3  2017   19.4        15.6   0.625806     0.557143
4  2018  119.2       117.8   3.845161     4.207143
5  2019  284.6       220.4   9.180645     7.871429
6  2020  339.6       272.0  10.954839     9.379310
7  2021  137.4       137.4   4.432258     4.907143
8  2022  166.6       166.6   5.374194     5.950000

### Grafico:

In [68]:
import matplotlib.pyplot as plt

In [69]:
df.info('columns')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Anos         26 non-null     object
 1   Fev31        26 non-null     float64
 2   FevNatural   26 non-null     float64
 3   Fev31N       26 non-null     float64
 4   FevNaturalN  26 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.1+ KB

In [70]:
plt.show(df1['normalizadoFev31'].plot(kind = 'line'))

KeyError: 'normalizadoFev31'

In [ ]:
plt.show(df1['FevNormal'].plot(kind = 'line'))

In [ ]:
df['Fev31'].mean()

In [ ]:
df['FevNormal'].mean()

In [ ]:
import researchpy as rp

In [ ]:
for i,col in enumerate(color):